.info h1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 70px;
}

.info p {
  font-size: 1.3rem;
  max-width: 550px;
}

.home-img img {
  position: relative;
  width: 600px;
  transform: translate(0, 0);
}

