* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sectionText: #e1a412;
  --text: #1e2631;
  --clr-bg: hsl(323 21% 16%);
  --size-2: 0.5em;
  --size-4: 1em;
}

body {
  height: 100vh;
  display: flex;
  background: #EDF8FC;
}

.overlay-text {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  color: darkmagenta;
  font-family: "Rancho", cursive;
  transition: background-color 500ms, font-size 500ms;
  cursor: pointer;
}

.overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}

.memory-game {
  grid-area: section;
  align-self: center;
  justify-self: center;
  margin: auto;
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.5;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  background: #e1a412;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

img {
  width: 100px;
}

.grid {
  display: grid;
  grid-template-areas:
    "score"
    "section";
  align-items: center;
  margin: auto;
  gap: 10px;
}

.scores {
  grid-area: score;
  align-self: center;
  justify-self: center;
  color: #ED3337;
}

.neon-button,
.button {
  font-size: 1em;
  margin: 0.4em;
  display: inline-block;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  border: var(--sectionText) 4px solid;
  padding: 0.25em 0.5em;
  color: var(--text);
  border-radius: 0.25em;
  /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45 var(--sectionText); */
  /* box-shadow: inset 0 0 0.5em 0 var(--sectionText),
    0 0 0.5em 0 var(--sectionText); */
}

.neon-button::before {
  content: "";
  position: relative;
  background: var(--sectionText);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
}

.neon-button:hover {
  background: #e1a412;
  color: #1e2631;
  text-shadow: none;
}

/*MOdal ---------- */
.modal, .modal1 {
  margin: auto;
  max-width: 50ch;
  padding: 1em;
  border: 0;
  justify-content: center;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

/* extra styling */

h1 em {
  color: #e1a412;
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.button {
  border: 4px solid var(--sectionText);
  cursor: pointer;
  color: #ED3337;
  font-weight: 500;
  align-items: center;
  padding: var(--size-2);
}

.button:hover,
.button:focus {
  background: #e1a412;
  color: #434c4c;
}

form {
  display: grid;
  gap: 1em;
}

.player {
  margin-top: 350px;
  color: #1e2631;
  font-weight: 700;
  font-size: 2em;
}

#result{
  background-color: #EDF8FC;
  color: #e1a412;
  font-weight: 700;
  font-size: 1em;
  border: none;
}

table, th, td {
  border:1px solid #1e2631;
  margin: auto;
}

th{
  padding: 5px;
}

h2{
  margin-bottom: 15px;
}

/* HIGHSCORES */
#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}